main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_section,
.projects_section,
.knowledge_section,
.about_section {
    min-width: 300px;
    width: 80%;
    max-width: 800px;
    min-height: 100vh;
}

.main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    margin: 0 auto;
    padding: 20px 20px 20px;
    font-size: 1rem;
}

.main__title {
    margin-bottom: 4rem;
    text-align: center;
}

.main__paragraph {
    margin-bottom: 2rem;
    text-align: center;
}

.link_list {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 auto;
    padding-left: 0;
    width: 100%;
}

.link_list__item {
    text-decoration: none;
    display: block;
}

.projects_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projects_section__title {
    margin-bottom: 20px;
}

.slider {
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: hsla(0, 0%, 39%, 20%) 0px 2px 8px 0px inset;
}

.card:hover {
    transform: scale(1.2);
    margin-bottom: 40px;
    box-shadow: hsl(211, 34%, 23%) 0px 2px 8px 0px, hsl(211, 34%, 23%) 0px 2px 8px 0px inset;
}

.card__title {
    font-size: 1rem;
}

.card__description {
    font-weight: 400;
    font-family: 0.8rem;
}

.stack_container {
    font-size: 0.7rem;
    font-weight: 300;
    margin-top: 1rem;
}

.slider_tools {
    float: inline-end;
    margin-bottom: 40px;
}

.slider_buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.knowledge_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.knowledge_card_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.knowledge__card:hover {
    transform: none;
    margin-bottom: 20px;
    box-shadow: hsl(0, 34%, 50%) 0px 2px 8px 0px, hsl(0, 34%, 50%) 0px 2px 8px 0px inset;
}

.knowledge__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
    width: 100%;
}

.knowledge__grid_item {
    display: block;
    text-align: center;
}

.about_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_me__title {
    text-align: center;
    margin-bottom: 20px;
}