
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  hsl(250, 59%, 21%);
    color: white;
    font-family: "Roboto Mono", monospace;
}

a{
    color: white;
    text-decoration: none;
}