/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    @apply text-xl text-center font-bold text-primary-600
}

:root{
    @apply bg-gray-100 text-black 
}

.dark {
    @apply bg-gray-900 text-gray-400
}